services/crawl/crawl-state-machine.asl.json
{
    "StartAt": "Crawl",
    "States": {
        "Crawl": {
            "Type": "Task",
            "Resource": "${CrawlURLsARN}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "CrawlError",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Labmda.TooManyRequestsException",
                        "Lambda.Unknown"
                    ],
                    "IntervalSeconds": 3,
                    "BackoffRate": 2.0,
                    "MaxAttempts": 3
                }
            ],
            "Next": "Did Crawl Succeed?"
        },
        "Did Crawl Succeed?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.success",
                    "BooleanEquals": true,
                    "Next": "Send Crawl Success Message"
                },
                {
                    "Variable": "$.success",
                    "BooleanEquals": false,
                    "Next": "Crawl Failed"
                }
            ]
        },
        "Send Crawl Success Message": {
            "Type": "Succeed"
        },
        "Crawl Failed": {
            "Type": "Fail"
        }
    }
}
