services/keyphrase/keyphrase-state-machine.asl.json
{
    "StartAt": "Parse and find keyphrases for each URL",
    "States": {
        "Parse and find keyphrases for each URL": {
            "Type": "Map",
            "ItemsPath": "$.pathnames",
            "MaxConcurrency": 20,
            "ResultPath": "$.keyphrases",
            "Parameters": {
                "baseURL.$": "$.baseURL",
                "pathname.$": "$$.Map.Item.Value"
            },
            "Iterator": {
                "StartAt": "Parse URL",
                "States": {
                    "Parse URL": {
                        "Type": "Task",
                        "Resource": "${ScrapeURLARN}",
                        "Retry": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "IntervalSeconds": 2,
                                "BackoffRate": 2.0,
                                "MaxAttempts": 3
                            }
                        ],
                        "Next": "Find Keyphrases",
                        "ResultPath": null
                    },
                    "Find Keyphrases": {
                        "Type": "Task",
                        "Resource": "${FindKeyphrasesARN}",
                        "Retry": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "IntervalSeconds": 2,
                                "BackoffRate": 2.0,
                                "MaxAttempts": 3
                            }
                        ],
                        "End": true
                    }
                }
            },
            "Next": "Count keyphrase occurrences for each URL"
        },
        "Count keyphrase occurrences for each URL": {
            "Type": "Map",
            "ItemsPath": "$.pathnames",
            "MaxConcurrency": 20,
            "Parameters": {
                "baseURL.$": "$.baseURL",
                "pathname.$": "$$.Map.Item.Value",
                "keyphrases.$": "$.keyphrases"
            },
            "Iterator": {
                "StartAt": "Count Occurrences",
                "States": {
                    "Count Occurrences": {
                        "Type": "Task",
                        "Resource": "${CountOccurrencesARN}",
                        "Retry": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "IntervalSeconds": 2,
                                "BackoffRate": 2.0,
                                "MaxAttempts": 3
                            }
                        ],
                        "End": true
                    }
                }
            },
            "End": true
        }
    }
}
